#header {
  height: 35px;
  width: 25%;
  background-color: #ee86b2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#body {
  height: 75px;
  width: 25%;
  background-color: #f8b3d3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}