<!-- <h1>{{title}}</h1>
<h2>{{name}}</h2> -->
<router-outlet></router-outlet>
<div class="container">
<nav>
    <a routerLink="/heroes">Halaman Heroes</a><br>
    <a routerLink="/contacts">Halaman Contacts</a><br>
    <a routerLink="/freelancer">Halaman Freelancer</a><br>
    <a routerLink="/error">Error Page</a>
</nav>
</div>
<!-- <app-hello></app-hello> -->
<!-- <app-yourcomponent></app-yourcomponent> -->
<!-- <app-victoria></app-victoria> -->
<!-- <app-hero-parent></app-hero-parent> -->
<!-- <app-card-parent></app-card-parent> -->